*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    /* overflow: hidden; */
}

.main-container {
    height: 100vh;
    width: 100%;
}

.main-container::before {
    display: table;
    content: '';
    clear: both;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

aside {
    width: 30%;
    background: #37474f;
    color: #fff;
    float: left;
    text-align: center;
    position: relative;
}

section {
    background: linear-gradient(to bottom, #cfd8dc, #eceff1);
    background: #fff;
    background-repeat: no-repeat;
    width: 70%;
    float: right;
}

aside,
section {
    height: 100%;
    display: inline-block;
    overflow-y: auto;
}

footer {
    padding: 5px 0;
    font-size: 12px;
    color: #fff;
    /* position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
}

h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 26px;
    display: inline-block;
}

h2 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    font-size: 22px;
}

h3 {
    font-size: 18px;
    margin-top: 30px;
}

.status-container {
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-bottom: 40px;
}

.status-red {
    color: #b71c1c;
}

.status-green {
    color: #388e3c;
}

.button {
    padding: 10px 25px;
    background-color: #37474f;
    color: #fff;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
    border: 2px solid #fff;
    margin: 0 10px;
}

.button:hover,
.button:active {
    background-color: #fff;
    color: #37474f;
}

.canvas-container {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 50px;
}

canvas {
    width: 100%;
    max-width: 100%;
    /* height: 100%; */
    /* border: 2px solid #37474f; */
    image-rendering: optimizeSpeed; /* Older versions of FF          */
    image-rendering: -moz-crisp-edges; /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges; /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated; /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor; /* IE                            */
}

.selected-image {
    margin: 20px auto;
    display: none;
}

.image-error {
    margin: 10px auto;
    font-size: 14px;
}

.image-filename {
    display: inline-block;
    margin-right: 10px;
}

.thumbnail {
    width: 75px;
    display: inline-block;
    vertical-align: middle;
}

.dm-distance {
    margin: 20px auto;
}

.assignment-container {
    margin: 50px 0;
    margin-bottom: 80px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-dual-ring {
    display: inline-block;
    width: 128px;
    height: 128px;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid #37474f;
    border-color: #37474f transparent #37474f transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.metrics-table {
    width: 40%;
    margin: 50px auto;
    display: none;
}

.metrics-table h3 {
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

@media only screen and (max-width: 768px) {
    aside,
    section {
        width: 100%;
    }
}
