*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #546e7a, #b0bec5);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 2s0px;
    text-align: center;
    color: #fff;
    font-size: 32px;
}

h2 {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
    color: #fff;
    font-size: 32px;
}

.status {
    font-size: 18px;
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: green;
}

section {
    padding-bottom: 50px;
}

footer {
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    color: #fff;
    background-color: #37474f;
}
.container {
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    min-height: 600px;
}

.canvas-container {
    width: 100%;
    min-height: 300px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.button {
    padding: 10px 25px;
    background-color: #37474f;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}

.button:hover,
.button:active {
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.6);
}

canvas {
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
}

/* spinner */
.spinner {
    display: none;
    margin-top: 120px;
}

.lds-dual-ring {
    display: inline-block;
    width: 128px;
    height: 128px;
}
.lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 92px;
    height: 92px;
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid #37474f;
    border-color: #37474f transparent #37474f transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
